<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Ticketac - Homepage</title>
</head>
<body>
  <%- include('./partials/header') %>


    <div class="container narrow d-flex flex-column">
      <h2 class="mt-5 text-light">One-way ticket :</h2>
      <form action="/search" method="POST">
        <div class="mb-3">
          <input type="text" name="departure" class="form-control" placeholder="From: Paris, Marseille..." aria-describedby="departure">
        </div>
        <div class="mb-3">
          <input type="test" name="arrival" class="form-control" placeholder="To: Lille, Nantes...">
        </div>
        <div class="mb-3">
          <input type="date" name="date" class="form-control">
        </div>
        <button type="submit" class="btn btn-danger">Go</button>
      </form>
    </div>


  


  <%- include('./partials/footer') %>



</body>
</html>