#header {
  width: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#2890f1, #dcdde7);
  
}

a {
  color: #00B7FF;
}

.footer {

display: flex;
justify-content: center;
min-height: 400px;
}